<h2>Categories</h2>
<div>

 <table style="width:40%">
  <tr>
    <td><strong>Name</strong></td>
    <td><strong>Watching</strong></td>
    <td><strong>Tracking</strong></td>
    <td><strong>Posts</td>
  </tr>
  {{#each full.data}}
  <tr>
    <td>{{name}}</td>
    <td>{{users_watching}}</td>
    <td>{{users_tracking}}</td>
    <td>{{post_count}}</td>
  </tr>
  {{/each}}
</table>

</div>
<div>
{{ember-chart type='Bar' data=chartWT width=500 height=500 legend=true options=chartWT.options}}
</div>
<div>
{{ember-chart type='Pie' data=chartPosts width=300 height=300 legend=false}}
</div>